<h1>All Figures</h1>
<%  @figures.each do |figure| %>
  <a href="/figures<%= figure.id %>"><%= figure.name %></a><br>
<% end %>
<br><br>

<a class="button" href="/figures/new">Create New Figure</a>
<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
